body {
  margin: 0;
}
.main-body {
  max-width: 900px;
  margin: 0 auto;
}
header {
  background-color: orange;
  opacity: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 5%;

}
.menu-bar {
  margin-right: 5%;

}
.Start {
  background-image: url("images/hero-image.jpg");
  padding-top: 5%;

}
